/*normalize*/
h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
}



html, body{
    min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.container{
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 25px 5px 10px 5px;
}
.white-gray-gradient {
    background: -webkit-linear-gradient(#ffffff, #bebebe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #bebebe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #bebebe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #bebebe); /* Standard syntax (must be last) */
}

/*-----------------------------------------------------------------------------------
                              slider styles 
-----------------------------------------------------------------------------------*/

.main-slider{
  width: 100%;
    margin: 0 auto;
  overflow: hidden;
    position: relative;
}

.slide-track{
    position:relative;
    right: 0;
}

.slide-track > div {
  width: 80%;
    margin: 0 auto;
}

/*the page to look good with js disabled*/
.main-slider .slide-track > div {
    float: left;
}

.main-slider .slide-track > div {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.slide-track > div.active-slide{
    opacity: 1;
    transition: opacity 0.5s;
}

/*-----slider navigation (left-right)-----*/
.arrow-next, .arrow-previous{
    position: absolute;
    height: 94%;
    width: 10%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0); /*so IE would click*/
}
.arrow-next{
    right: 0;
    transition: opacity 0.5s;
}
.arrow-next:hover, .arrow-previous:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/*-----slider navigation (bottom buttons bullets)-----*/
.slider-buttons{
    width: 100%;
    text-align: center;
}

.slider-buttons button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #474747;
    background: white;
    transition: background 0.5s;
    outline: none;
    cursor: pointer;
}
.slider-buttons button.active{
    background: #474747;
    transition: background 0.5s;
}

/*-----------------------------------------------------------------------------------
                              slide content styles
-----------------------------------------------------------------------------------*/
.main-slider img{
    width: 100%;
    height: auto;
}

.slide-container{
    padding: 5px;
    position: relative;
}
.slide-text-box{
    box-sizing: border-box;
    position: absolute;
    color: white;
    padding: 30px;
    bottom: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.59);
}

.slide-text-box h2{
    font-size: 2em;
}
.slide-text-box p {
    font-size: 1.3em;
}